<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Notrit Expert</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="Content-Type" content="text/html;charset=windows-1251" />
  <meta http-equiv="Content-Language" content="ru-RU" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.1.7.1.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  
</head>  
<body>  

<!-- main-cont -->
<div class="main-cont">

<!-- \\\header\\\ -->
<div class="header">
  <div class="header-a">
  	<div class="header-a-padding">
    	<div class="header-logo">
    		<a href="#"><img src="img/header-logo.png"></a>
    		<span>Эксперты о здоровье</span>
    	</div>
    	<div class="header-menu">
    		<ul>
    			<li><a class="hdr-m-01" href="#">теги</a></li>
    			<li><a class="hdr-m-02" href="#">пользователи</a></li>
    			<li><a class="hdr-m-03" href="#">награды</a></li>
    			<li><a class="hdr-m-04" href="#">вход</a></li>
    		</ul>
    	</div>
    	<div class="clear"></div>
  	</div>    
  </div>
  <div class="header-b">
  	<div class="header-b-padding">
  		<a href="#" class="header-home"><img src="img/home-btn.png"></a>  
  		<div class="header-filter">
  			Задайте свой вопрос  здесь
  		</div>
  		<div class="clear"></div>
  	</div>
  </div>  
</div>
<!-- ///header/// -->

<div class="main-cont-a">

<!-- \\\center col\\\ -->
<div class="center-col">
    <div class="padding">
    	<!-- // left coll // -->
    	<div class="left-coll">
    		<div class="left-overlay"></div>
    		
    		<div class="label-a">
    			<ul class="marked">
    				<li>Задавайте вопросы интересные для сообщества</li>
    				<li>Добавьте достаточно деталей</li>
    				<li>Вопрос должен быть четким и лаконичным</li>
    			</ul>
    		</div>
    		
    		<div class="form-lbl">Вопрос</div>
    		<div class="form-input"><input type="text" value="" /></div>
    		
    		<div class="answer-form-lbl">Детали вопроса</div>	
    		<div class="form-editor">
    		<div class="text-edit">
    			<div class="text-edit-head">
    				<a href="#"><img src="img/edit-01.gif"></a>
    				<a href="#"><img src="img/edit-02.gif"></a>
    				<span class="edit-devider"></span>
    				<a href="#"><img src="img/edit-03.gif"></a>
    				<a href="#"><img src="img/edit-04.gif"></a>
    				<a href="#"><img src="img/edit-05.gif"></a>
    				<a href="#"><img src="img/edit-06.gif"></a>
    				<a href="#"><img src="img/edit-07.gif"></a>
    				<span class="edit-devider"></span>
    				<a href="#"><img src="img/edit-08.gif"></a>
    				<a href="#"><img src="img/edit-09.gif"></a>
    				<a href="#"><img src="img/edit-10.gif"></a>
    				<a href="#"><img src="img/edit-11.gif"></a>
    				<div class="clear"></div>
    			</div>
    			<div class="text-edit-body">
    				<textarea placeholder="Текст сообщения"></textarea>
    			</div>
    			</div>
    		</div>	
    		
    		<div class="label-b">
    			<h1>Текст жирный Bold</h1>
    			<p>Основной стиль текста  для вопроса. Варикозное расширение вен. Какие витамины или травы полезно попить? <i>Стиль курсива</i><br /> <a href="#">стиль ссылки</a></p>
    			<div class="page-devider"></div>
    			<ul>
    				<li>Строчка списка</li>
    				<li>Строчка списка</li>
    				<li>Строчка списка</li>
    				<li>Строчка списка</li>
    			</ul>
    		</div>
    		
    		<div class="form-lbl">Теги</div>
    		<div class="form-input no-margin"><input type="text" value="" /></div>    		
    		<div class="form-comment">Тэг это короткое ключевое слово без пробелов через запятую.<br />Вы можете использовать до 5 тэгов одновременно.</div>    		    		
    		<button class="form-button">Задать вопрос</button>
    	</div>
    	<!-- \\ left coll \\ -->
    	<!-- // right coll // -->
    	<div class="right-coll">
    		
    		<br />
    		
    		<div class="right-banner">
    			<a href="#"><img src="img/banner.gif"></a>
    		</div>
    		
    		<div class="popular">
    			<div class="popular-lbl">Популярные вопросы</div>
    			<ul>
    				<li><a href="#">Как справиться с бессонницей?</a></li>
    				<li><a href="#">Можно ли увеличить грудь?</a></li>
    				<li><a href="#">Как сделть ягодицы более упругими?</a></li>
    				<li><a href="#">Как бросить курить?</a></li>
    				<li><a href="#">Что делать если все лицо в прыщах?</a></li>
    				<li><a href="#">Кто знает в чем секрет молодости?</a></li>
    			</ul>
    		</div>

    		<div class="advises">
    			<div class="advices-lbl">Лучшие советы,<br />как накачать нижний пресс</div>
    			<input class="advices-input" type="text" value="" placeholder="Ваш e-mail" />
    			<button class="btn-a">Подписаться</button>
    		</div>
    		    		    		
    		<div class="tags-row">
    			<div class="tags-lbl">Теги</div>
    			<div class="tags-line"><a href="#" class="question-tag">Броситькурить</a> <span>25</span></div>
    			<div class="tags-line"><a href="#" class="question-tag">Мышцы</a> <span>127</span></div>
    			<div class="tags-line"><a href="#" class="question-tag">Толстый живот</a> <span>345</span></div>
    			<div class="tags-line"><a href="#" class="question-tag">PowerBalance</a> <span>90</span></div>
    			<div class="tags-line"><a href="#" class="question-tag">Кожа</a> <span>27</span></div>
    			<div class="tags-line"><a href="#" class="question-tag">Второйподбородок</a> <span>678</span></div>
    		</div>
    		



    		
    	</div>
    	<!-- \\ right coll \\ -->
    	<div class="clear"></div>
    </div>
  <br class="clear" />
</div>
<!-- ///center col/// -->

  <br class="clear none" />
  </div>
</div>
<!-- /main-cont -->

<!-- \\\footer\\\ -->
<div class="footer">
  <div class="footer-b">
	
	<div class="footer-left">
		<div class="footer-menu">
			<ul>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Часто задаваемые вопросы</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Политика</a></li>
				<li><a href="#">Конфиденциальности</a></li>
				<li><a href="#">Оставить отзыв</a></li>
			</ul>
		</div>
		<div class="footer-info">
			Copyright Askbot, 2010-2011. Content on this site is licensed under a <a href="#">Creative Commons Attribution Share Alike 3.0 license</a>. Powered by Askbot version 0.7.49
		</div>
	</div>
	<div class="footer-right">
		<div class="footer-copy">&copy; 2013 notrit</div>
		<div class="footer-copy-a">Дизайн сайта <a href="#">Багаев Илья</a></div>
	</div>
	<div class="clear"></div>
	
  </div>
</div>
<!-- ///footer/// -->

</body>  
</html> 