<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Notrit Expert</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="Content-Type" content="text/html;charset=windows-1251" />
  <meta http-equiv="Content-Language" content="ru-RU" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.1.7.1.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  
</head>  
<body>  

<!-- main-cont -->
<div class="main-cont">

<!-- \\\header\\\ -->
<div class="header">
  <div class="header-a">
  	<div class="header-a-padding">
    	<div class="header-logo">
    		<a href="#"><img src="img/header-logo.png"></a>
    		<span>Эксперты о здоровье</span>
    	</div>
    	<div class="header-menu">
    		<ul>
    			<li><a class="hdr-m-01" href="#">теги</a></li>
    			<li><a class="hdr-m-02" href="#">пользователи</a></li>
    			<li><a class="hdr-m-03" href="#">награды</a></li>
    			<li><a class="hdr-m-04" href="#">вход</a></li>
    		</ul>
    	</div>
    	<div class="clear"></div>
  	</div>    
  </div>
  <div class="header-b">
  	<div class="header-b-padding">
  		<a href="#" class="header-home"><img src="img/home-btn.png"></a>  
  		<div class="header-filter">
  			Авторизация / Регистрация
  		</div>
  		<div class="clear"></div>
  	</div>
  </div>  
</div>
<!-- ///header/// -->

<div class="main-cont-a">

<!-- \\\center col\\\ -->
<div class="center-col">
    <div class="padding">
    	<!-- // left coll // -->
    	<div class="left-coll">
    		<div class="left-overlay"></div>
    		
    		<div class="authorise">
    			<div class="authorise-l">
    				<label>Логин или email</label>
    				<input type="text" value="" />
    				<button class="form-button">Войти</button>
    			</div>
    			<div class="authorise-r">
    				<label>Пароль</label>
    				<input type="text" value="" />
    				<a href="#" class="create-account">Создать аккаунт,<br />защищенный паролем</a>
    			</div>
    			<div class="clear"></div>
    		</div>   

        <div class="create-account-block">
            <a href="#" class="create-account-close"><img src="img/close.png"></a>
            <h1>Создание аккаунта</h1>
            <div class="create-account-l"><input type="text" value="" placeholder="Ваш nick name" /></div>
            <div class="create-account-r"><input type="text" value="" placeholder="Пароль" /></div>
            <div class="clear"></div>
            <div class="create-account-l"><input type="text" value="" placeholder="E-mail" /></div>
            <div class="create-account-r"><input type="text" value="" placeholder="Повторите пароль" /></div>
            <div class="clear"></div>
            <button class="create-account-btn">Создать</button>
        </div>
    		
    		<div class="authorize-social">
    			<div class="label-a">
            <h1>Войти при помощи<h1>
            <a href="#"><img src="img/authorise-a.png"></a>
            <a href="#"><img src="img/authorise-b.png"></a>
            <a href="#"><img src="img/authorise-c.png"></a>
            <div class="clear"></div>
          </div>
    		</div>		

    		<div class="form-lbl">Восстановление пароля</div>
    		<div class="form-input no-margin password-resend"><input type="text" value="" placeholder="e-mail" /></div>    		
    		<div class="form-comment">Пароль будет выслан на e-mail<br />указанный вами при регистрации</div>    		    		
    		<button class="form-button">Восстановить</button>        
    		
    	</div>
    	<!-- \\ left coll \\ -->
    	<!-- // right coll // -->
    	<div class="right-coll">
    		
    		<br />
    		
    		<div class="right-banner">
    			<a href="#"><img src="img/banner.gif"></a>
    		</div>

    		<div class="advises">
    			<div class="advices-lbl">Лучшие советы,<br />как накачать нижний пресс</div>
    			<input class="advices-input" type="text" value="" placeholder="Ваш e-mail" />
    			<button class="btn-a">Подписаться</button>
    		</div>

    		



    		
    	</div>
    	<!-- \\ right coll \\ -->
    	<div class="clear"></div>
    </div>
  <br class="clear" />
</div>
<!-- ///center col/// -->

  <br class="clear none" />
  </div>
</div>
<!-- /main-cont -->

<!-- \\\footer\\\ -->
<div class="footer">
  <div class="footer-b">
	
	<div class="footer-left">
		<div class="footer-menu">
			<ul>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Часто задаваемые вопросы</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Политика</a></li>
				<li><a href="#">Конфиденциальности</a></li>
				<li><a href="#">Оставить отзыв</a></li>
			</ul>
		</div>
		<div class="footer-info">
			Copyright Askbot, 2010-2011. Content on this site is licensed under a <a href="#">Creative Commons Attribution Share Alike 3.0 license</a>. Powered by Askbot version 0.7.49
		</div>
	</div>
	<div class="footer-right">
		<div class="footer-copy">&copy; 2013 notrit</div>
		<div class="footer-copy-a">Дизайн сайта <a href="#">Багаев Илья</a></div>
	</div>
	<div class="clear"></div>
	
  </div>
</div>
<!-- ///footer/// -->

</body>  
</html> 