<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Notrit Expert</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="Content-Type" content="text/html;charset=windows-1251" />
  <meta http-equiv="Content-Language" content="ru-RU" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>  
<body>  

<!-- main-cont -->
<div class="main-cont">

<!-- \\\header\\\ -->
<div class="header">
  <div class="header-a">
  	<div class="header-a-padding">
    	<div class="header-logo">
    		<a href="#"><img src="img/header-logo.png"></a>
    		<span>Эксперты о здоровье</span>
    	</div>
    	<div class="header-menu">
    		<ul>
    			<li><a class="hdr-m-01" href="#">теги</a></li>
    			<li><a class="hdr-m-02" href="#">пользователи</a></li>
    			<li><a class="hdr-m-03" href="#">награды</a></li>
    			<li><a class="hdr-m-04" href="#">вход</a></li>
    		</ul>
    	</div>
    	<div class="clear"></div>
  	</div>    
  </div>
  <div class="header-b">
  	<div class="header-b-padding">
  		<a href="#" class="header-home"><img src="img/home-btn.png"></a>  
  		<div class="header-filter">
  			<a href="#">Все</a>
  			<a href="#">Неотвеченные</a>
  		</div>
  		<div class="header-search">
  			<div class="header-search-a"><input type="text" value="" placeholder="Поиск вопросов" /></div>
  			<button class="header-search-btn"></button>
  		</div>
  		<a href="#" class="ask-btn">Задать вопрос</a>
  		<div class="clear"></div>
  	</div>
  </div>  
</div>
<!-- ///header/// -->

<div class="main-cont-a">

<!-- \\\center col\\\ -->
<div class="center-col">
    <div class="padding">	
		
		<!-- // user // -->
		<div class="user-page">
			<div class="user-left">
				<div class="user-profile">
					<img src="img/user.jpg">
					<div class="user-profile-a">
						<b>1089</b>
						<span>репутация</span>
					</div>
				</div>
			</div>
			<div class="user-right">
				<div class="user-name"><a href="#">Ника Кузнецова</a></div>
				<div class="user-info-row">
					<div class="user-info-i">
						<div class="user-info-a">Зарегистрирован</div>
						<div class="user-info-b">Июн 24 '14</div>
					</div>
					<div class="user-info-i">
						<div class="user-info-a">Последнее посещение</div>
						<div class="user-info-b">2 дня назад</div>
					</div>
					<div class="user-info-i">
						<div class="user-info-a">Местоположение</div>
						<div class="user-info-b">Россия, Москва</div>
					</div>
					<div class="user-info-i">
						<div class="user-info-a">Неиспользованных сегодня</div>
						<div class="user-info-b">20 голосов</div>
					</div>
				</div>
				<a href="#" class="btn-b">Подписаться</a>
			</div>
			<div class="clear"></div>	
		</div>
		<!-- \\ user \\ -->
		
		<div class="clear"></div>

    	<!-- // left coll // -->
    	<div class="left-coll">
    		<div class="left-overlay"></div>
    		<div class="wrapper-a">
    			<div class="user-questions"><b>56</b> вопросов</div>
    		</div>
    		<!-- // questions // -->
    		<div class="questions-row">
    			<!-- // -->
    			<div class="question-i">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Хрустят суставы после тренировок</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Суставы</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">20</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i">
    						<div class="count-a">98</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">389</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    			<!-- // -->
    			<div class="question-i nth">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Как надо пить протеин, чтобы накачать мышцы?</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Суставы</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">12</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i ">
    						<div class="count-a">0</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">1</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    			<!-- // -->
    			<div class="question-i">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Курил бросил растолстел</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Хочу похудеть</a>
    						<a href="#" class="question-tag">Броситькурить</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">3</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i ">
    						<div class="count-a">18</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">9</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    			<!-- // -->
    			<div class="question-i nth">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Какие травы пить при простуде? Химию неохота</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Суставы</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">12</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i ">
    						<div class="count-a">0</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">1</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    			<!-- // -->
    			<div class="question-i">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Браслеты Power Balance - брать или не брать?</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Хочу похудеть</a>
    						<a href="#" class="question-tag">Броситькурить</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">3</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i">
    						<div class="count-a">18</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">9</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    			<!-- // -->
    			<div class="question-i nth">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Как надо пить протеин, чтобы накачать мышцы?</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Суставы</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">12</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i ">
    						<div class="count-a">0</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">1</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    			<!-- // -->
    			<div class="question-i">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Курил бросил растолстел</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Хочу похудеть</a>
    						<a href="#" class="question-tag">Броситькурить</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">3</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i">
    						<div class="count-a">18</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">9</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    			<!-- // -->
    			<div class="question-i nth">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Какие травы пить при простуде? Химию неохота</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Суставы</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">12</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i ">
    						<div class="count-a">0</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">1</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    			<!-- // -->
    			<div class="question-i">
    				<div class="question-l">
    					<div class="question-i-lbl">
    						<a href="#">Браслеты Power Balance - брать или не брать?</a>
    					</div>
    					<div class="question-i-info">
    						<a href="#" class="question-tag">Курение</a>
    						<a href="#" class="question-tag">Хочу похудеть</a>
    						<a href="#" class="question-tag">Броситькурить</a>
    					</div>
    				</div>
    				<div class="question-r">
    					<div class="count-i disabled">
    						<div class="count-a">3</div>
    						<div class="count-b">просм.</div>
    					</div>
    					<a href="#" class="count-i">
    						<div class="count-a">18</div>
    						<div class="count-b">ответы</div>
    					</a>
    					<div class="count-i disabled">
    						<div class="count-a">9</div>
    						<div class="count-b">голоса</div>
    					</div>
    				</div>
    				<div class="clear"></div>
    			</div>
    			<!-- \\ -->
    		</div>
    		<!-- \\ questions \\ -->
    		
    		<!-- // pagination // -->
    		<div class="pagination">
    			<div class="pagination-l"><a href="#">&larr; Предыдущая</a></div>
    			<div class="pagination-c">
    				<a href="#">1</a>
    				<a href="#">2</a>
    				<a href="#">3</a>
    				<a class="current" href="#">4</a>
    				<a href="#">5</a>
    				<a href="#">6</a>
    				<a href="#">7</a>
    				<a href="#">8</a>
    				<a href="#">9</a>
    				<a href="#">10</a>
    			</div>
    			<div class="pagination-r"><a href="#">Следующая &rarr;</a></div>
    		</div>
    		<!-- \\ pagination \\ -->
    		
    		<!-- // answers // -->
    		<div class="answers">
    			<div class="line-total"><b>123</b> ответов</div>
    			<div class="answers-row">
    				<div class="answers-line">
    					<span>1</span>
    					<a href="#">Есть ли таблетки от целлюлита?</a>
    				</div>
    				<div class="answers-line">
    					<span>0</span>
    					<a href="#">Полезна ли гиалуроновая кислота для кожи?</a>
    				</div>
    				<div class="answers-line">
    					<span>21</span>
    					<a href="#">Зелёный кофе - правда или миф?</a>
    				</div>
    				<div class="answers-line">
    					<span>0</span>
    					<a href="#">Таблетки от глистов. Бывают ли натуральные?</a>
    				</div>
    				<div class="answers-line">
    					<span>4</span>
    					<a href="#">Какие витамины нужны при остеохондрозе?</a>
    				</div>
    				<div class="answers-line">
    					<span>11</span>
    					<a href="#">Хрустят суставы после тренировок</a>
    				</div>
    				<div class="answers-line">
    					<span>56</span>
    					<a href="#">Витамины для глаз - нужны или нет?</a>
    				</div>
    			</div>
    		</div>
    		<!-- \\ answers \\ -->
    		
    		<!-- // votes // -->
    		<div class="votes">
    			<div class="line-total"><b>89</b> голосов</div>	
    			<div class="votes-chose">
    				<a href="#" class="vote-plus">60</a>
    				<a href="#" class="vote-minus">29</a>
    				<div class="clear"></div>
    			</div>
    		</div>
    		<!-- \\ votes \\ -->
    		
    		<!-- // user-tags // -->
    		<div class="user-tags">
    			<div class="line-total"><b>6</b> тегов</div>	
    			<div class="user-tags-row">
    				<div class="tags-line"><a href="#" class="question-tag">Броситькурить</a> <span>25</span></div>
    				<div class="tags-line"><a href="#" class="question-tag">Толстый живот</a> <span>345</span></div>
    				<div class="tags-line"><a href="#" class="question-tag">Кожа</a> <span>27</span></div>    			    			
    				<div class="tags-line"><a href="#" class="question-tag">Мышцы</a> <span>127</span></div>
    				<div class="tags-line"><a href="#" class="question-tag">PowerBalance</a> <span>90</span></div>
    				<div class="tags-line"><a href="#" class="question-tag">Второйподбородок</a> <span>678</span></div>
    				<div class="clear"></div>
    			</div>    			
    		</div>
    		<!-- \\ user-tags \\ -->
    		
    		<!-- // awards // -->
    		<div class="user-awards">
    			<div class="line-total"><b>5</b> наград</div>	
    			<div class="user-awards-row">
    				<div class="user-awards-line"><div class="user-awards-i"><span>Студент</span></div> <span class="summ">7</span></div>
    				<div class="user-awards-line"><div class="user-awards-i"><span>Таксономист</span></div> <span class="summ">1</span></div>
    				<div class="user-awards-line"><div class="user-awards-i"><span>Учитель</span></div> <span class="summ">1</span></div>
    				<div class="user-awards-line"><div class="user-awards-i"><span>Самоучка</span></div> <span class="summ">2</span></div>
    				<div class="user-awards-line"><div class="user-awards-i"><span>Популярный Вопрос</span></div> <span class="summ">5</span></div>
    			</div>
    		</div>
    		<!-- \\ awards \\ -->
    		
    	</div>
    	<!-- \\ left coll \\ -->
    	<!-- // right coll // -->
    	<div class="right-coll">
    		<div class="right-banner">
    			<a href="#"><img src="img/banner.gif"></a>
    		</div>
    		
    	</div>
    	<!-- \\ right coll \\ -->
    	<div class="clear"></div>
    </div>
  <br class="clear" />
</div>
<!-- ///center col/// -->

  <br class="clear none" />
  </div>
</div>
<!-- /main-cont -->

<!-- \\\footer\\\ -->
<div class="footer">
  <div class="footer-b">
	
	<div class="footer-left">
		<div class="footer-menu">
			<ul>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Часто задаваемые вопросы</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Политика</a></li>
				<li><a href="#">Конфиденциальности</a></li>
				<li><a href="#">Оставить отзыв</a></li>
			</ul>
		</div>
		<div class="footer-info">
			Copyright Askbot, 2010-2011. Content on this site is licensed under a <a href="#">Creative Commons Attribution Share Alike 3.0 license</a>. Powered by Askbot version 0.7.49
		</div>
	</div>
	<div class="footer-right">
		<div class="footer-copy">&copy; 2013 notrit</div>
		<div class="footer-copy-a">Дизайн сайта <a href="#">Багаев Илья</a></div>
	</div>
	<div class="clear"></div>
	
  </div>
</div>
<!-- ///footer/// -->

</body>  
</html> 