<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Notrit Expert</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="Content-Type" content="text/html;charset=windows-1251" />
  <meta http-equiv="Content-Language" content="ru-RU" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.1.7.1.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  
</head>  
<body>  

<!-- main-cont -->
<div class="main-cont">

<!-- \\\header\\\ -->
<div class="header">
  <div class="header-a">
  	<div class="header-a-padding">
    	<div class="header-logo">
    		<a href="#"><img src="img/header-logo.png"></a>
    		<span>Эксперты о здоровье</span>
    	</div>
    	<div class="header-menu">
    		<ul>
    			<li><a class="hdr-m-01" href="#">теги</a></li>
    			<li><a class="hdr-m-02" href="#">пользователи</a></li>
    			<li><a class="hdr-m-03" href="#">награды</a></li>
    			<li><a class="hdr-m-04" href="#">вход</a></li>
    		</ul>
    	</div>
    	<div class="clear"></div>
  	</div>    
  </div>
  <div class="header-b">
  	<div class="header-b-padding">
  		<a href="#" class="header-home"><img src="img/home-btn.png"></a>  
  		<div class="header-filter">
  			Пользователи
  		</div>
  		<div class="clear"></div>
  	</div>
  </div>  
</div>
<!-- ///header/// -->

<div class="main-cont-a">

<!-- \\\center col\\\ -->
<div class="center-col">
    <div class="padding">
    	<!-- // left coll // -->
    	<div class="left-coll full-width">
    		<div class="left-overlay"></div>
    		
        <div class="wrapper-b no-margin">
    			<div class="questions-total"><b>2617</b> тегов</div>
    			<div class="questions-filter">
    				<span>Сортировать по:</span>
    				<a href="#">репутации</a>
    				<a href="#">новички</a>
            <a href="#">старье</a>
            <a href="#">алфавиту</a>
    				<div class="clear"></div>
    			</div>
    			<div class="clear"></div>
    		</div>	
        
        <div class="users-row">
          <!-- // -->
          <div class="users-row-i">
            <div class="users-row-l"><a href="#"><img src="img/author-01.gif"></a></div>
            <div class="users-row-r">
              <div class="user-i-name"><a href="#">Nick Name</a></div>
              <div class="user-i-rating">21435</div>
              <div class="user-i-stats">
                <span class="stats-a">120</span>
                <span class="stats-b">78</span>
                <span class="stats-c">198</span>
                <div class="clear"></div>
              </div>    
            </div>
            <div class="clear"></div>
          </div>
          <!-- \\ -->
          <!-- // -->
          <div class="users-row-i">
            <div class="users-row-l"><a href="#"><img src="img/author-02.gif"></a></div>
            <div class="users-row-r">
              <div class="user-i-name"><a href="#">Двухстрочная версия</a></div>
              <div class="user-i-rating">21435</div>
              <div class="user-i-stats">
                <span class="stats-a">120</span>
                <span class="stats-b">78</span>
                <span class="stats-c">198</span>
                <div class="clear"></div>
              </div>    
            </div>
            <div class="clear"></div>
          </div>
          <!-- \\ -->
          <!-- // -->
          <div class="users-row-i">
            <div class="users-row-l"><a href="#"><img src="img/author-03.gif"></a></div>
            <div class="users-row-r">
              <div class="user-i-name"><a href="#">Оченьдлинный никнейм</a></div>
              <div class="user-i-rating">21435</div>
              <div class="user-i-stats">
                <span class="stats-a">120</span>
                <span class="stats-b">78</span>
                <span class="stats-c">198</span>
                <div class="clear"></div>
              </div>    
            </div>
            <div class="clear"></div>
          </div>
          <!-- \\ -->
          <!-- // -->
          <div class="users-row-i">
            <div class="users-row-l"><a href="#"><img src="img/author-04.gif"></a></div>
            <div class="users-row-r">
              <div class="user-i-name"><a href="#">Fucker</a></div>
              <div class="user-i-rating">21435</div>
              <div class="user-i-stats">
                <span class="stats-a">120</span>
                <span class="stats-b">78</span>
                <span class="stats-c">198</span>
                <div class="clear"></div>
              </div>    
            </div>
            <div class="clear"></div>
          </div>
          <!-- \\ -->
          <!-- // -->
          <div class="users-row-i">
            <div class="users-row-l"><a href="#"><img src="img/author-05.gif"></a></div>
            <div class="users-row-r">
              <div class="user-i-name"><a href="#">Lover</a></div>
              <div class="user-i-rating">21435</div>
              <div class="user-i-stats">
                <span class="stats-a">120</span>
                <span class="stats-b">78</span>
                <span class="stats-c">198</span>
                <div class="clear"></div>
              </div>    
            </div>
            <div class="clear"></div>
          </div>
          <!-- \\ -->
          <!-- // -->
          <div class="users-row-i">
            <div class="users-row-l"><a href="#"><img src="img/author-06.gif"></a></div>
            <div class="users-row-r">
              <div class="user-i-name"><a href="#">Animaezer</a></div>
              <div class="user-i-rating">21435</div>
              <div class="user-i-stats">
                <span class="stats-a">120</span>
                <span class="stats-b">78</span>
                <span class="stats-c">198</span>
                <div class="clear"></div>
              </div>    
            </div>
            <div class="clear"></div>
          </div>
          <!-- \\ -->
          <!-- // -->
          <div class="users-row-i">
            <div class="users-row-l"><a href="#"><img src="img/author-07.gif"></a></div>
            <div class="users-row-r">
              <div class="user-i-name"><a href="#">Длинный никнейм</a></div>
              <div class="user-i-rating">21435</div>
              <div class="user-i-stats">
                <span class="stats-a">120</span>
                <span class="stats-b">78</span>
                <span class="stats-c">198</span>
                <div class="clear"></div>
              </div>    
            </div>
            <div class="clear"></div>
          </div>
          <!-- \\ -->
          <!-- // -->
          <div class="users-row-i">
            <div class="users-row-l"><a href="#"><img src="img/author-08.gif"></a></div>
            <div class="users-row-r">
              <div class="user-i-name"><a href="#">Двухстрочная версия</a></div>
              <div class="user-i-rating">21435</div>
              <div class="user-i-stats">
                <span class="stats-a">120</span>
                <span class="stats-b">78</span>
                <span class="stats-c">198</span>
                <div class="clear"></div>
              </div>    
            </div>
            <div class="clear"></div>
          </div>
          <!-- \\ -->
          <div class="clear"></div>
          
        </div>
   		
    		
    	</div>
    	<!-- \\ left coll \\ -->

    </div>
  <br class="clear" />
</div>
<!-- ///center col/// -->

  <br class="clear none" />
  </div>
</div>
<!-- /main-cont -->

<!-- \\\footer\\\ -->
<div class="footer">
  <div class="footer-b">
	
	<div class="footer-left">
		<div class="footer-menu">
			<ul>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Часто задаваемые вопросы</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Политика</a></li>
				<li><a href="#">Конфиденциальности</a></li>
				<li><a href="#">Оставить отзыв</a></li>
			</ul>
		</div>
		<div class="footer-info">
			Copyright Askbot, 2010-2011. Content on this site is licensed under a <a href="#">Creative Commons Attribution Share Alike 3.0 license</a>. Powered by Askbot version 0.7.49
		</div>
	</div>
	<div class="footer-right">
		<div class="footer-copy">&copy; 2013 notrit</div>
		<div class="footer-copy-a">Дизайн сайта <a href="#">Багаев Илья</a></div>
	</div>
	<div class="clear"></div>
	
  </div>
</div>
<!-- ///footer/// -->

</body>  
</html> 